img.img-login {
    margin: 10px auto;
    max-width: 65%;
    display: block;
}
.btn-register {
    background-color: #fcbc20;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 10px;
}
  
.btn-register:hover {
    background-color: #ffffff;
}
.mi-color {
    color: #000000;
}